body, html{
   margin: 0px;
   padding: 0px;
}

.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(JPG/Background.jpg);
    width: 100%;
    height: 170vh;
    background-position: center;
    background-size: cover;
}

.newstitle{
    font-family: fantasy;
    font-style: italic;
    color: antiquewhite;
    color: antiquewhite;
    text-align: center;
    font-size: 70px;
    margin: 20px;
}

.news{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 7rem;
    padding: 10px;
}

.news .news1, .news2, .news3{
    background-color: brown;
    border-radius: 10px;
}

.news1 h1, .news2 h1, .news3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.news1 p, .news2 p, .news3 p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.america{
    width: 200px;
    height: 200px;
}

.westbrook{
    width: 200px;
    height: 200px;
    margin-top: -20px;
}

.yamadar7{
    width: 200px;
    height: 200px;
    margin-top: -10px;
}

.bg2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(JPG/Background.jpg);
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: cover;
}

.bg3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(JPG/Background.jpg);
    width: 100%;
    height: 165vh;
    background-position: center;
    background-size: cover;
}

.bg4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(JPG/Background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar{
    background-color: brown;
    overflow: hidden;
    align-items: center;
}

.navbar a{
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.navbar a:hover{
    color: black;
}

.navbar a.split{
    background-color: antiquewhite;
    float: right;
    color: brown;
}

.navbar a.split:hover{
    color: black;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 70px;
    font-family: fantasy;
    font-style: italic;
    color: antiquewhite;
    text-shadow: 20px;
    margin: 20px;
}

.title p{
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    background-color: brown;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

video{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}

.content h1{ 
    margin-top: 20px;
    font-family: tahoma;
    font-style: inherit;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}

.social{
    background-color: brown;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;

}

.logo{
    margin-right: 1%;
    width: 30px;
    height: 30px;
}

.logo2{
    width: 30px;
    height: 30px;
}

.container{
    margin: 0;
}

.type1{
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
}

.r7, .xsr, .faz, .neo, .vin{
    width: 250px;
    height: 200px;
    transition: transform .1s;
}

.xsr{
    width: 250px;
    height: 200px;
    transition: transform .1s;
}

.nmax{
    width: 220px;
    height: 200px;
}

.faz{
    width: 250px;
    height: 200px;
    transition: transform .1s;
}

.neo{
    width: 250px;
    height: 200px;
    transition: transform .1s;
}

.vin{
    width: 250px;
    height: 200px;
    transition: transform .1s;
}

.r7:hover, .xsr:hover, .nmax:hover, .faz:hover, .neo:hover, .vin:hover{
    transform: scale(1.2);
}

.product-container{
    font-family: cursive;
    text-align: center;
    font-style: italic;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

.product{
    box-shadow: antiquewhite;
    border-radius: 8px;
    text-align: center;
    background-color: antiquewhite;
}

.product h3{
    background-color: brown;
    color: antiquewhite;
}

.product h3:hover{
    color: black;
    cursor: pointer;
}

.product .price{
    margin-bottom: 15px;
}

.aboutus{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
}

.yamadalogos{
    width: 30%;
    margin-left: 50vw;
    transform: translate(-86%);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 8px;
    background-color: antiquewhite;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}   

input{
    margin: 5px;
}

.judul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

input[type=text]{
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 1px 3px 5px gray;
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    box-shadow: 1px 3px 5px gray;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
}

button:hover{
    background-color: brown;
}

.yamada{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.check{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: fantasy;
    text-align: center;
}